
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

  .listDesc {
    color: grey;
    padding-top: 5px;
    font-size: 15px;
  }


  